<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="/dashboard" style="color: black; font-weight: bolder; font-size: 1.23em;">Authentication</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"<a class="nav-link" href="#">Welcome, <span style="color: black; text-transform: capitalize;"><%= user.name %></span></a> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
  
      <div class="d-flex align-items-center">  
        <!-- Avatar -->
        <a
          class="d-flex align-items-center hidden-arrow btn btn-secondary"
          href="/logout"
          role="button"
        >
          Logout
        </a>
      </div>
    </div>
</nav>