<%- include("./partials/navbar"); %>

  <!-- contents -->

  
  <section>
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 ">
          <div class="card rounded-3">
            <div class="card-body p-4">
              
              <h4 class="text-center my-3 pb-3">ZaKK Authentication Solutions..</h4>
              <div class="col-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>